*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
}

@font-face {
    font-family: primaryFont;
    src: url(./font/JosefinSlab-VariableFont_wght.ttf);
  }


.app{
    min-height: 100vh;
    margin: auto;    
    position: relative;
    overflow: hidden;
    padding: 1vh 4vw 2vh;
    background-color: rgb(66 66 66 / 40%);
}
.video-bg{ 
    height: 100vh;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
  }
.app-container{
      max-width: 1440px;
      margin: 0 auto;
}
.app-header-container{
    font-family: "primaryFont";
    padding: 10em 0 0;
    margin: 0;
    color: #ffffff;
    display:flex;
    flex-direction: column;
    align-items:center; 
    justify-content:center; 
    text-align: center;
}
.app-header-container h1{
    font-size: 3.5rem;
    line-height: 3.8rem;
    letter-spacing: .75rem;
    font-weight: 700;
    background-color: rgba(0,0,0,.02);
    text-transform: uppercase;
    padding: .5em 0 ;
}
.app-header-container h3{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.6rem;
    background-color: rgba(0,0,0,.02);    
    text-transform: capitalize;
}
.search-form{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    max-width: 350px;
    margin:1em auto;
    position: relative;
}
.validation-error{
    width: 100%;
    font-weight: 900;
    position: absolute;
    bottom: -0.8rem;
    color: rgb(211 35 35);
    font-size: 1.2rem;
    text-align: center;

}
.search-bar{
    width: 100%;
    border: none;
    padding: 10px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.search-button{
    background: rgb(135, 151, 156);
    border:none;
    padding:10px 20px;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.error{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    text-transform: capitalize;
    margin: 0 auto;
    background: rgba(66, 66, 66, 0.727);
}
.icon-container{
    max-width: 50px;
}

.icon-container img{
    width: 100%;
    object-fit: contain;
}
.error h3{
    margin: 0 0 0 .5rem ;
    font-size: 32px;
    line-height: 40px;
    font-family: "primaryFont";
    color: #b10000;
} 


@media (max-width: 768px) {
    .app-header-container{
        padding:2em 1em  
      }
    .app-header-container h1{
        font-size: 2.5rem;
        line-height: 2.2rem;
    }
    
    .app-header-container h3{
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
 }

 @media (min-width:769px) and (max-width: 1024px) {
    .app-header-container{
        padding: 2em;
    }
    .app-header-container h1{
        font-size: 3.2rem;
        line-height: 3.8rem;
    }
    
    .app-header-container h3{
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
 }